<h1> Contact </h1>

<h3> 
	Hi. I'm Charles. I am an undergraduate student at McGill University, studying computer science and biology.<br> 
	I made TweetAround. <br> 
	This was my first Ruby on Rails Application.<br>
	If you want to send me suggestions on how to improve the site, send it to <a href="mailto:che-yuan.liu@mail.mcgill.ca">my email</a> <br>
	Or, follow me on <a href="http://www.github.com/chubchubcharles"> GitHub! </a>
</h3>
