<h1> Help </h1>

<h4> Potential issues</h4>
<h4> Q: How come there's no map? <br>
	 A: Occasionally, this occurs because of two possible reasons. One, the twitter query yielded no tweets at all, meaning your word may be unpopular with Twitter users. Or another possibility (I presume) may have to do with the fluctuating performance of Twitter requests, which may time out if the request is taking too long. Normally, if this is the error, then searching again should yield something different. <br></br>

	 Q: I can't zoom out! <br>
	 A: For some reason, GMaps4Rails's default UI interface is scrunched up on the left side of the map. If you look carefully, you can try to click on the "zoom out" button. And, also, there seems to be no keyboard shorcut for minimize. Pressing the "-" keyboard button won't work, but pressing the "+" button would zoom in. How awesome is that?

</h4>
